<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>About Gesture</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('about')">Navbar</nav>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-9">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <div>
                            <h3>
                                About Gesture
                            </h3>
                            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                            <p><small>This line of text is meant to be treated as fine print.</small></p>
                            <p>The following is <strong>rendered as bold text</strong>.</p>
                            <p>The following is <em>rendered as italicized text</em>.</p>
                            <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>