<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/includes :: head" th:remove="tag">Global Header</div>
    <meta charset="UTF-8">
    <title>About Gesture</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('about')">Navbar</nav>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-9">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="jumbotron">
                            <p>The Gesture app is meant to help improve drawing. Upload images, create a schedule, and practice.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>