<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/includes :: head" th:remove="tag">Global Header</div>
    <meta charset="UTF-8"/>
    <title>New Image</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('images')">Navbar</nav>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-9">
            <form  th:object="${image}" th:action="@{'/' + ${image.getUserId()} + '/image'} " method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">New Image</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                            <label for="name">Image Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter an image name" th:field="*{name}"/>
                            <label for="tags">Tags:</label>
                            <input type="text" class="form-control" id="tags" th:field="*{tags}"/>
                            <small id="tagHelp" class="form-text text-muted">Enter tags for this image, separated by commas</small>
                            <input id="imagefile" name="imagefile" type="file" class="file">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>