<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/includes :: head" th:remove="tag">Global Header</div>
    <meta charset="UTF-8">
    <title>Gesture Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('images')">Navbar</nav>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-9">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div>All Images
                            <a class="btn btn-primary" href="#" th:href="@{${user.id} + '/image/new'}" role="button">New Image</a>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm" th:each="image : ${user.images}">
                                <div class="panel-body" >
                                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                                        <div class="card-header right"><button type="button" class="btn btn-outline-info">Edit</button></div>
                                        <div class="card-body ">
                                            <h4 class="card-title" th:text="${image.name}">Image Name</h4>
                                            <span class="thumbnail">
                                                    <img class="thumbnail" src="../../static/images/guacamole400x400WithX.jpg"
                                                         th:src="@{${image.id} + '/image'}">
                                                </span>
                                            <small>
                                                <div>
                                                        <span th:each="tag : ${image.tags}">
                                                            <span th:text="${tag.name}">tag1 tag2 tag3</span>
                                                        </span>
                                                </div>
                                                <button type="button" class="btn btn-link btn-sm">Add Tag</button>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>