<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/includes :: head" th:remove="tag">Global Header</div>
    <meta charset="UTF-8">
    <title>Gesture Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('index')">Navbar</nav>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-9">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>
                            Welcome
                            <small class="text-muted" th:text="${user.firstName}">with muted text</small>
                        </h3>
                        <div>
                            <a class="btn btn-primary" href="#" th:href="@{${user.id} + '/image/new'}" role="button">New Image</a>
                            <a class="btn btn-primary" href="#" th:href="@{${user.id} + '/schedule/new'}" role="button">New Schedule</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>