<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/includes :: head" th:remove="tag">Global Header</div>
    <meta charset="UTF-8">
    <title>Gesture Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('index')">Navbar</nav>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-9">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="jumbotron">
                                <h3>
                                    Welcome
                                    <small class="text-muted" th:text="${user.firstName}">with muted text</small>
                                </h3>
                                <div>
                                    <a class="btn btn-primary" href="#" th:href="@{${user.id} + '/image/new'}" role="button">New Image</a>
                                    <a class="btn btn-primary" href="#" th:href="@{${user.id} + '/schedule/new'}" role="button">New Schedule</a>
                                </div>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>