<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">

    <!--<listeners>-->
        <!--<listener class-name="org.uncommons.reportng.HTMLReporter"/>-->
        <!--<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>-->
        <!--<listener class-name="tnk.listeners.CustomListeners"/>-->
    <!--</listeners>-->

    <test name="Bank Manager Login Test">
        <classes>
            <class name="tnk.gesture.testcases.IndexTest" />
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->
